* {
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(254, 200, 154);
}

.hero-center {
  text-align: center;
  padding-top: 50px;
}

#context {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.block {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f6f6f6;
}

.content-left {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 100px;
  padding-right: 50px;
  flex: 1;
}

.content-right {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-right: 100px;
  padding-left: 50px;
  flex: 1;
}

.box {
  border-radius: 16px;
  background-color: #fefefe;
  box-shadow: 0px 6px 15px rgba(36, 37, 38, 0.08);
  padding: 15px;
  width: 630px;
  height: 430px;
}

.content-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: rgb(223, 223, 223);
  padding: 50px;
  padding-top: 0;
  padding-left: 100px;
}

.footer {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 20vh;
  padding-left: 50px;
  padding-top: 50px;
  background-color: rgb(0, 0, 0);
}
