.hero-btns {
  margin-top: 64px;
}

.btn1 {
  font-family: 'SN Pro';
  font-size: 32px;
  color: rgb(254, 200, 154);
  background-color: white;
  border: none;
  height: 64px;
  width: 160px;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.btn1:hover {
  background-color: rgb(138, 90, 68);
}

.btn1:active {
  opacity: 0.8;
}

.btn2 {
  font-family: 'SN Pro';
  font-size: 32px;
  color: white;
  background-color: rgb(254, 200, 154);
  border-style: solid;
  border-color: white;
  border-width: 3px;
  height: 64px;
  width: 160px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, opacity 0.3s;
}

.btn2:hover {
  color: rgb(254, 200, 154);
  background-color: white;
}

.btn2:active {
  opacity: 0.8;
}
