.navbar {
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  box-shadow: 0px 1px 30px rgba(36, 37, 38, 0.08);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-left {
  flex: 1;
}

.section {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

a.nav-link,
a.nav-link:visited {
  font-family: Outfit;
  color: black;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

a.nav-link:hover {
  opacity: 0.7;
}

a.nav-link:active {
  opacity: 0.4;
}
